article {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

body {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.main-app {
    height: calc(100vh + 30px);
}

input {
    font-family: 'JetBrains Mono'
}

button {
    font-family: 'JetBrains Mono'
}

#editorJson {
    border-radius: 1%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 85%;
    margin-top: -5%;
}

#editorResultJson {
    border-radius: 1%;
    align-self: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 85%;
    margin-top: -5%;
}
